@media screen and (max-width: 600px) {
  .project-tile {
    flex-direction: row;
    /* padding: 0 -0.4em; */
    /* margin: 0 -0.4em; */
  }
  .projectItem {
    width: 100%;
  }
  .project-img {
    width: 100%;
    height: auto;
    object-fit: contain;
  }
}
