* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Taprom, Tahoma, Geneva, Verdana, sans-serif;
  position: relative;
}

#navBar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

#navBar ul {
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  background-color: white;
}
.nav-link a {
  text-decoration: none;
  padding: 0.9rem 4rem;
  color: #000;
}
#welcome-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 80%;
  margin: 0 auto;
  height: 100vh;
}

#welcome-message h1 {
  padding: 0.5em 0;
  letter-spacing: 0.09em;
  font-size: 4rem;
}
#welcome-message p {
  letter-spacing: 0.1em;
  font-size: 1.8rem;
  font-weight: 500;
}

/* THE ABOUTME SECTION */
#aboutMe {
  width: 90%;
  height: 99vh;
  display: flex;
  flex-direction: column;
  margin: auto;
}
.container {
  display: flex;
  flex-direction: row;
  position: relative;
  height: 256px;
  width: 100%;
}
.container article {
  font-family: "Roboto sans-serif";
  color: #010209;
  font-weight: 100;
  line-height: 1.7em;
  letter-spacing: 2px;
}
.square {
  width: 306px;
  height: 100%;
  background-color: #dfdfdf;
  border: 2px solid #e9e9e9;
  margin: 0 1.5em;
  display: flex;
  flex-direction: column;
}
.square p {
  padding: 1em;
}
.squareHeader {
  background-color: #fff;
  height: 52%;
  overflow: hidden;
  white-space: nowrap;
  line-height: 2;
}
.squareHeader span {
  display: inline-block;
  font-family: Roboto;
  color: #415279;
  -webkit-text-fill-color: #fff;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #415279;
  text-transform: uppercase;
  font-size: 4em;
  padding-left: 100%;
  animation: animate 12s linear infinite;
}
@keyframes animate {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-100%, 0);
  }
}
.whyACSD {
  justify-content: flex-end;
  align-items: center;
}
.whyACSD .square {
  justify-self: flex-end;
}
.whyACSD article {
  width: 50%;
}
.services {
  align-items: center;
  justify-content: center;
}
.whyMe {
  align-items: center;
  justify-content: flex-start;
}
.whyMe .square {
  align-self: flex-start;
}
.whyMe article {
  width: 50%;
}
/* --------          WORKING WITH PROJECTS SECTION AND IT'S SLIDER     ---------------------*/
#projects {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  position: static;
  padding: auto;
  position: relative;
}
#wrapper {
  width: 80%;
  margin: 0 auto;
  overflow: hidden;
  box-shadow: -1px 0px 12px -8px rgba(0, 0, 0, 0.64);
}
.projects_slide {
  transition: left cubic-bezier(0.6, -0.28, 0.735, 0.045) 1.2s;
  position: relative;
  left: 0;
  display: flex;
  flex-direction: row;
}
#projects ul {
  list-style: none;
  display: flex;
  padding: 2em 0;
}
#projects ul li {
  padding-right: 3.5rem;
}
#projects ul li:first-child {
  font-size: 1em;
  font-weight: 600;
}
.project-tile {
  display: flex;
  flex-direction: column;
}
.projectItem {
  position: relative;
  border-radius: 4px;
}
.projectItem p {
  color: #fff;
  opacity: 0;
  position: absolute;
  top: 45%;
  right: 50%;
  transform: translate(50%);
  transition: all ease 1s;
}
.projectItem p:hover {
  opacity: 1;
}
.project-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  cursor: pointer;
  transition: all ease 0.2s;
}
.project-img:hover {
  position: relative;
  object-fit: cover;
  width: 97%;
}
.arrow {
  position: absolute;
  top: 50%;
  font-size: 4em;
  transform: translate(50%);
  cursor: pointer;
  color: rgb(119, 153, 8);
  font-family: "Courier New", Courier, monospace;
  z-index: 1000;
}
#rightArrow {
  right: 0.5rem;
}
#leftArrow {
  left: 0.5rem;
  opacity: 0.4;
  pointer-events: none;
}

/* ___________________ FOOTER ____________________ */
footer ul {
  list-style: none;
  float: right;
}
footer ul li {
  display: inline-block;
  margin-right: 10px;
  padding: 2px;
}
