* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Taprom, Tahoma, Geneva, Verdana, sans-serif;
  position: relative;
}

#navBar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

#navBar ul {
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  background-color: white;
}
.nav-link a {
  text-decoration: none;
  padding: 0.9rem 4rem;
  color: #000;
}
#welcome-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 80%;
  margin: 0 auto;
  height: 100vh;
}

#welcome-message h1 {
  padding: 0.5em 0;
  letter-spacing: 0.09em;
  font-size: 4rem;
}
#welcome-message p {
  letter-spacing: 0.1em;
  font-size: 1.8rem;
  font-weight: 500;
}

/* THE ABOUTME SECTION */
#aboutMe {
  width: 90%;
  height: 99vh;
  display: flex;
  flex-direction: column;
  margin: auto;
}
.container {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  margin: 0 auto;
}

.square {
  width: 306px;
  height: 253px;
  border: 1px solid #e9e9e9;
  border-radius: 2px;
  cursor: pointer;
  box-shadow: 0px 15px 41px rgba(0, 0, 0, 0.25);
}
#aboutMe .container:first-child {
  justify-content: start;
}
#aboutMe .container:nth-child(2) {
  justify-content: end;
}
#aboutMe .container:last-child {
  justify-content: center;
}
#aboutMe .container:first-child .square {
  background-color: #2d9cdb;
  transform: rotate(7.52deg);
}
#aboutMe .container:nth-child(2) .square {
  background-color: #f2994a;
  transform: rotate(-13.65deg);
  position: absolute;
  top: -187px;
}
#aboutMe .container:last-child .square {
  background-color: #f2c94c;
  transform: rotate(-10.03deg);
  position: absolute;
  top: 200px;
}
#aboutMe .container:first-child .square:hover {
  transform: rotate(0deg);
  z-index: 100;
}
#aboutMe .container:nth-child(2) .square:hover {
  transform: rotate(0deg);
  z-index: 100;
}
#aboutMe .container:last-child .square:hover {
  transform: rotate(0deg);
  z-index: 100;
}
.squareHeader {
  display: grid;
  align-items: center;
  height: 50%;
  background-color: #fff;
  overflow: hidden;
  white-space: nowrap;
}

.squareTitle {
  font-family: Roboto;
  font-size: 4em;
  padding-left: 2em;
}
.square:hover .squareTitle {
  padding-left: 5.2em;
  animation: animate 4s linear infinite;
  -webkit-text-fill-color: #fff;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #333;
  /* -webkit-text-stroke-color: #9b51e0; */
}
@keyframes animate {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-100%, 0);
    padding-left: 100%;
  }
}
.squarePitch {
  display: grid;
  place-items: center;
  height: 50%;
}

/* _____________-----------------------------------______________________------------------ */
/* --------          WORKING WITH PROJECTS SECTION AND IT'S SLIDER     ---------------------*/
#projects {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  position: static;
  padding: auto;
  position: relative;
}
#wrapper {
  width: 80%;
  margin: 0 auto;
  overflow: hidden;
  box-shadow: -1px 0px 12px -8px rgba(0, 0, 0, 0.64);
}
.projects_slide {
  transition: left cubic-bezier(0.6, -0.28, 0.735, 0.045) 1.2s;
  position: relative;
  left: 0;
  display: flex;
  flex-direction: row;
}
#projects ul {
  list-style: none;
  display: flex;
  padding: 2em 0;
}
#projects ul li {
  padding-right: 3.5rem;
}
#projects ul li:first-child {
  font-size: 1em;
  font-weight: 600;
}
.project-tile {
  display: flex;
  flex-direction: column;
}
.projectItem {
  position: relative;
  border-radius: 4px;
}
.projectItem p {
  color: #fff;
  opacity: 0;
  position: absolute;
  top: 45%;
  right: 50%;
  transform: translate(50%);
  transition: all ease 1s;
}
.projectItem p:hover {
  opacity: 1;
}
.project-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  cursor: pointer;
  transition: all ease 0.2s;
}
.project-img:hover {
  position: relative;
  object-fit: cover;
  width: 97%;
}
.arrow {
  position: absolute;
  top: 50%;
  font-size: 4em;
  transform: translate(50%);
  cursor: pointer;
  color: rgb(119, 153, 8);
  font-family: "Courier New", Courier, monospace;
  z-index: 1000;
}
#rightArrow {
  right: 0.5rem;
}
#leftArrow {
  left: 0.5rem;
  opacity: 0.4;
  pointer-events: none;
}

/* ___________________ FOOTER ____________________ */
footer ul {
  list-style: none;
  float: right;
}
footer ul li {
  display: inline-block;
  margin-right: 10px;
  padding: 2px;
}
